<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhyt.health.dao.DictCityMapper">
  <resultMap id="BaseResultMap" type="com.yhyt.health.model.DictCity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="abbr_name" jdbcType="VARCHAR" property="abbrName" />
    <result column="full_spell" jdbcType="VARCHAR" property="fullSpell" />
    <result column="abbr_spell" jdbcType="VARCHAR" property="abbrSpell" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="sort_no" jdbcType="INTEGER" property="sortNo" />
    <result column="region_level" jdbcType="VARCHAR" property="regionLevel" />
    <result column="is_main_city" jdbcType="TINYINT" property="isMainCity" />
    <result column="mapping_code" jdbcType="VARCHAR" property="mappingCode" />
    <result column="childnum" jdbcType="INTEGER" property="havChild"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, level, parent_id, name, abbr_name, full_spell, abbr_spell, city_code, sort_no, 
    region_level, is_main_city, mapping_code, create_time
  </sql>
  <select id="getCitiesByLevel" parameterType="byte" resultMap="BaseResultMap">
    select id,`level`,`name`,abbr_name,city_code from dict_city WHERE level=#{level}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dict_city
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dict_city
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yhyt.health.model.DictCity">
    insert into dict_city (id, level, parent_id, 
      name, abbr_name, full_spell, 
      abbr_spell, city_code, sort_no, 
      region_level, is_main_city, mapping_code, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{level,jdbcType=TINYINT}, #{parentId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{abbrName,jdbcType=VARCHAR}, #{fullSpell,jdbcType=VARCHAR}, 
      #{abbrSpell,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{regionLevel,jdbcType=VARCHAR}, #{isMainCity,jdbcType=TINYINT}, #{mappingCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yhyt.health.model.DictCity">
    insert into dict_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="abbrName != null">
        abbr_name,
      </if>
      <if test="fullSpell != null">
        full_spell,
      </if>
      <if test="abbrSpell != null">
        abbr_spell,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="regionLevel != null">
        region_level,
      </if>
      <if test="isMainCity != null">
        is_main_city,
      </if>
      <if test="mappingCode != null">
        mapping_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="abbrName != null">
        #{abbrName,jdbcType=VARCHAR},
      </if>
      <if test="fullSpell != null">
        #{fullSpell,jdbcType=VARCHAR},
      </if>
      <if test="abbrSpell != null">
        #{abbrSpell,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="regionLevel != null">
        #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="isMainCity != null">
        #{isMainCity,jdbcType=TINYINT},
      </if>
      <if test="mappingCode != null">
        #{mappingCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhyt.health.model.DictCity">
    update dict_city
    <set>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="abbrName != null">
        abbr_name = #{abbrName,jdbcType=VARCHAR},
      </if>
      <if test="fullSpell != null">
        full_spell = #{fullSpell,jdbcType=VARCHAR},
      </if>
      <if test="abbrSpell != null">
        abbr_spell = #{abbrSpell,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="regionLevel != null">
        region_level = #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="isMainCity != null">
        is_main_city = #{isMainCity,jdbcType=TINYINT},
      </if>
      <if test="mappingCode != null">
        mapping_code = #{mappingCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhyt.health.model.DictCity">
    update dict_city
    set level = #{level,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      abbr_name = #{abbrName,jdbcType=VARCHAR},
      full_spell = #{fullSpell,jdbcType=VARCHAR},
      abbr_spell = #{abbrSpell,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      region_level = #{regionLevel,jdbcType=VARCHAR},
      is_main_city = #{isMainCity,jdbcType=TINYINT},
      mapping_code = #{mappingCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="findDictCityList" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select <include refid="Base_Column_List"/> ,(select count(d.id) from dict_city d where d.parent_id = t.id) as childnum from dict_city t  
  		<include refid="search_dictcity"></include> 
  	</select>
  	
    <!-- 账户列表搜索条件  -->
  <sql id="search_dictcity">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
    	<if test="level!=null">and level = #{level,jdbcType=INTEGER}</if>
        <if test="parentId!=null">and parent_id = #{parentId,jdbcType=BIGINT}</if> 
        <if test="name!=null">and name like concat(#{name,jdbcType=VARCHAR},'%') </if> 
    	<if test="cityCode!=null">and city_code like concat(#{cityCode,jdbcType=VARCHAR},'%') </if> 
    	<if test="isMainCity!=null">and is_main_city =#{isMainCity}</if>
    </trim>
  </sql>
  
  <select id="findDictCityListforsearch" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select <include refid="Base_Column_List"/> ,(select count(d.id) from dict_city d where d.parent_id = t.id) as childnum from dict_city t  
  		<include refid="search_dictcityforsearch"></include> 
  	</select>
    <!-- 账户列表搜索条件搜索专用  -->
  <sql id="search_dictcityforsearch">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
    	<if test="level==1">and level = #{level,jdbcType=INTEGER}</if>
    	<if test="level==2">and level = #{level,jdbcType=INTEGER} and exists (select * from hospital ty where ty.dict_city_id_city=t.id)</if>
        <if test="parentId!=null">and parent_id = #{parentId,jdbcType=BIGINT}</if> 
        <if test="name!=null">and name like concat(#{name,jdbcType=VARCHAR},'%') </if> 
    	<if test="cityCode!=null">and city_code like concat(#{cityCode,jdbcType=VARCHAR},'%') </if> 
    	<if test="isMainCity!=null">and is_main_city =#{isMainCity}</if>
    </trim>
  </sql>
</mapper>